
.button {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  a {
    overflow: hidden;
    button {
      height: 40px;
      padding: 0 80px;
      font-family: 'Inter', sans-serif;
      font-size: 1rem;
      border: none;
      background: var(--primary-color);
      color: var(--secundary-color);
      transform: translateY(100%);
      box-shadow: rgba(0, 0, 0, 0.20) 0px 5px 15px;
      opacity: 0;
      overflow: hidden;
      position: relative;
      cursor: pointer;

      span {
        transition: 0.2s;
        position: absolute;
        right: 0;
        left: 0;
      }

      &::before {
        content: 'Ir';
        display: inline-block;
        transition: 0.2s;
        transform: translateX(-100px);
        position: relative;
        right: 0;
        left: 0;
      }

      &:hover {
        span {
          transform: translateX(110px);
        }

        &::before {
          transform: translateX(0);
        }
      }
    }
  }
}
