
.button {
  display: flex;
  justify-content: center;
  a {
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      padding: 0 80px;
      font-family: 'Inter', sans-serif;
      font-size: 1rem;
      border: none;
      background: var(--primary-color);
      color: var(--secundary-color);
      box-shadow: rgba(0, 0, 0, 0.20) 0px 5px 15px;
      cursor: pointer;
      overflow: hidden;

      span {
        position: absolute;
        transition: 0.3s;

        &:nth-child(2) {
          transform: translateX(200px);
        }
      }

      &:hover {
        span {
          &:nth-child(1) {
            transform: translateX(-200px);
          }
          &:nth-child(2) {
            transform: translateX(0);
          }
        }
      }
    }
  }
}
