.containerCube {
  transform-style: preserve-3d;
  height: 150px;
  margin-bottom: 20px;

  .text {
    display: block;
    font-size: 8rem;
    font-weight: bold;
    color: var(--primary-color);
    background: var(--secundary-color);
    position: absolute;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;

    &:nth-child(1) {
      transform: translateZ(75px);
    }

    &:nth-child(2) {
      transform: translateY(-75px) rotateX(90deg);
    }

    &:nth-child(3) {
      transform: translateZ(-75px) rotateX(180deg);
    }

    &:nth-child(4) {
      transform: translateY(75px) rotateX(-90deg);
    }
  
  }
}