@import '../../App.css';
.home {
  .containerTitle {
    margin-top: 200px;
    .title {
      div {
        overflow: hidden;
        span {
          display: block;
          font-size: 6rem;
          font-weight: bold;
          line-height: 7rem;
          color: var(--primary-color);
          transform: translateY(100%);
          opacity: 0;
        }
      }
    }
  }
}