@import '../../App.css';

.home {
  .title {
    margin-top: 200px;
    position: relative;
    z-index: -10;
    div {
      overflow: hidden;
      span {
        display: block;
        font-size: 6rem;
        font-weight: bold;
        line-height: 7rem;
        color: var(--primary-color);
        transform: translateY(100%);
        opacity: 0;
      }
    }
  }
}