@import '../../App.css';
.home {
  height: calc(100vh - 112.8px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  div {
    .title {
      position: relative;
      z-index: -10;
      div {
        overflow: hidden;
        span {
          display: block;
          font-size: 6rem;
          font-weight: bold;
          line-height: 7rem;
          color: var(--primary-color);
          transform: translateY(100%);
          opacity: 0;
        }
      }
    }
  }
}