@import '../../App.css';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
  
  .logo {
    h2 {
      font-size: 2rem;
      font-weight: 300;
      text-decoration: none;
      color: var(--primary-color);
      border-bottom: 1px solid var(--primary-color);
    }
    
    span {
      font-size: 0.8rem;
      font-style: italic;
      text-align: center;
      color: var(--primary-color);
      margin-top: 7px;
      display: block;
    }
  }

  .menu {
    button {
      background: none;
      border: none;
      cursor: pointer;
      padding: 15px;
      position: relative;
      z-index: 40;
    }

    button .menuMobileClosed {
      height: 1px;
      width: 40px;
      background: none;
      position: relative;

      &::before {
        content: '';
        height: 1px;
        width: 100%;
        display: block;
        background: var(--primary-color);
        position: absolute;
        bottom: 0px;
        transform: rotate(45deg);
        animation: animeBeforeClosed 0.8s forwards;
      }

      &::after {
        content: '';
        height: 1px;
        width: 100%;
        display: block;
        background: var(--primary-color);
        position: absolute;
        top: 0px;
        transform: rotate(-45deg);
        animation: animeAfterClosed 0.8s forwards;
      }

      @keyframes animeBeforeClosed {
        to {
          transform: rotate(0deg);
          bottom: 6px;
        }
      }

      @keyframes animeAfterClosed {
        to {
          transform: rotate(0deg);
          top: 6px;
        }
      }
    }

    button .menuMobileOpen {
      height: 1px;
      width: 40px;
      background: none;
      position: relative;
      z-index: 10;

      &::before {
        content: '';
        height: 1px;
        width: 100%;
        display: block;
        background: var(--secundary-color);
        position: absolute;
        bottom: 6px;
        animation: animeBeforeOpen 0.8s forwards;
      }

      &::after {
        content: '';
        height: 1px;
        width: 100%;
        display: block;
        background: var(--secundary-color);
        position: absolute;
        top: 6px;
        animation: animeAfterOpen 0.8s forwards;
      }

      @keyframes animeBeforeOpen {
        to {
          transform: rotate(45deg);
          bottom: 0px;
        }
      }

      @keyframes animeAfterOpen {
        to {
          transform: rotate(-45deg);
          top: 0px;
        }
      }
    }

    .menuContent {
      background: var(--primary-color);
      width: 100%;
      position: absolute;
      z-index: 10;
      width: 100%;
      height: 100vh;
      right: 0;
      left: 0;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateY(-100vh);

      .menuList {
        ul {
          div {
            overflow: hidden;
            li {
              margin-bottom: 30px;
              transform: translateY(110px);
              a {
                font-size: 4rem;
                color: var(--secundary-color);
                text-decoration: none;
                transition: .2s;

                &:hover {
                  color: #ada495;
                }
              }
            }
          }
        }
      }
    }
  }
}