
.preload {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100vh;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-color);

  .preloadContent {
    span {
      display: block;
      font-size: 8rem;
      color: var(--secundary-color);

      @media(max-width: 1000px) {
        font-size: 6rem;
      }

      @media(max-width: 800px) {
        font-size: 4rem;
      }
    }
  }
}